:root {
  --fonte-texto:  'Inter', sans-serif;
    --cor-texto: #667085;
    --cor-texto-logo: #3A404E;
    --cor-vermelho: #8E2424;
    --cor-titulo-paragrafo: #101828;
    --background-color: #FFFFFF;
}

/*
<h2 class="titulo-area">Desenvolvimento de Software</h2>
            <span class="titulo-vaga">Desenvolvedor(a) iOS Pleno</span>
            <div class="informacoes">
              <span>Full-time</span>
              <span>Faixa salarial: R$8.000</span>
              <span class="titulo-vaga">Desenvolvedor(a) Front-end</span>
            <div class="informacoes">
              <span>Full-time</span>
              <span>Faixa salarial: R$7.000</span>
            </div>
            <span class="titulo-vaga">Desenvolvedor(a) Back-end</span>
            <div class="informacoes">
              <span>Full-time</span>
              <span>Faixa salarial: R$8.000</span>



*/
